

.services ul li#mixi-check {
	background: #FFF url(images/mixi-check.gif) no-repeat 4px 6px;
}

.services ul li#mixi-check .input {
	padding-bottom: 3px;
}

.services ul li#mixi-check .input label {
	padding-left: 3px;
}

.services ul li#mixi-check .input input[type="submit"] {
	float: none;
}

.preview li.preview-mixi-check {
	padding: 0 !important;
}

.preview-mixi-check .option-smart-off {
	background: #FFF url(images/mixi-check.gif) no-repeat 0 5px;
	padding: 5px 0 5px 20px;
}
.preview-mixi-check .option-smart-on.option-button-1 {
	background: #FFF url(images/mixi_check_button_1.png) no-repeat top left;
	width:58px;
	height:18px;
	margin-top: 4px;
}
.preview-mixi-check .option-smart-on.option-button-2 {
	background: #FFF url(images/mixi_check_button_2.png) no-repeat top left;
	width:77px;
	height:18px;
	margin-top: 4px;
}
.preview-mixi-check .option-smart-on.option-button-3 {
	background: #FFF url(images/mixi_check_button_3.png) no-repeat top left;
	width:55px;
	height:18px;
	margin-top: 4px;
}
.preview-mixi-check .option-smart-on.option-button-4 {
	background: #FFF url(images/mixi_check_button_4.png) no-repeat top left;
	width:76px;
	height:18px;
	margin-top: 4px;
}
.preview-mixi-check .option-smart-on.option-button-5 {
	background: #FFF url(images/mixi_check_button_5.png) no-repeat top left;
	width:84px;
	height:25px;
	margin-top: 0px;
}
